[Desktop Entry]
Encoding=UTF-8
Name=Link to Game Physics: Resolution – Constraints & Sequential Impulse | Ming-Lun "Allen" Chou
Type=Link
URL=http://allenchou.net/2013/12/game-physics-constraints-sequential-impulse/
Icon=text-html
Name[en_GB]=Link to Game Physics: Resolution – Constraints & Sequential Impulse | Ming-Lun "Allen" Chou-s3.desktop
